h1 {
  font-family: "Playfair Display", serif;
  font-weight: bolder;
  font-size: 96px;
  line-height: 1.5;
}
.body {
  background: grey;
}
h2 {
  font-size: 64px;
  font-family: "Poppins", sans-serif;
}
h4 {
  font-size: 48px;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.logo {
  max-height: 70px;
  border-radius: 10px;
}
.karuzela {
  max-width: 50%;
  display: block;
  text-align: center;
  margin: 0 auto;
}
.active {
  color: rgb(248, 215, 215) !important;
}
.hero {
  background: rgb(255, 253, 221);
  text-align: center;
  padding: 160px 20px;
}
.nav-item {
  padding: 0 30px;
}
.hero p {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: rgb(248, 215, 215);
}
.hero h2 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.5;
}
.content-container {
  padding: 100px 20px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}
.content-container h2 {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
.content {
  margin: 30px;
}
.content h3 {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  line-height: 1;
  margin: 20px 0 0;
}
.content p {
  margin: 0;
  font-size: 14px;
  text-decoration: none;
}

.btn-branding {
  background: rgb(251, 204, 235);
  border-radius: 4px;
  color: black;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 21px;
  text-decoration: none;
  box-shadow: 0 3px 10px;
}
.project-description-dwa {
  border: 5px;
}

.btn-branding-outline {
  color: #304352;
  border: 1px solid #304352;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  border-radius: 4px;
  text-decoration: none;
}
.project-description {
  padding: 120px 60px;
}

.certyfikaty {
  text-align: center;
}
footer {
  margin: 60px 0;
}
footer .contact-box {
  background-color: rgb(248, 215, 215);
  padding: 30px 120px;
  border-radius: 4px;
}
footer .contact-box p {
  margin: 0;
}
footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}
footer .email-link:hover {
  color: rgb(248, 215, 215);
}
footer .social-links a {
  margin: 10px;
  color: rgb(248, 215, 215);
  background-color: aliceblue;

  padding: 20px 30px;
  font-size: 50px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}
footer .social-links a:hover {
  color: white;
  background-color: rgb(248, 215, 215);
}

@media (max-width: 960px) {
  h1 {
    font-size: 60px;
    line-height: 2;
  }
  h2 {
    font-size: 44px;
  }
  h4 {
    font-size: 18px;
  }

  .project-description {
    padding: 0;
    text-align: center;
    line-height: 13px;
    margin: 0;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
  .opis {
    text-align: center;
    padding: 0;
  }
  .opis-dwa {
    text-align: center;
  }
  .btn-branding {
    font-size: 13px;

    line-height: 13px;
  }
}
